<p class='text-center lead section-title'>Best Beaches Around the World</p>

<ul class="beach-list">
  <% @locations.each do |location| %>
  <li><%= link_to location.name, location_path(location) %></li>
  <% end %>
</ul>
